@import "tailwindcss";

@theme {
  --color-dental-50: #f0fdfa;
  --color-dental-100: #ccfbf1;
  --color-dental-500: #14b8a6;
  --color-dental-600: #0d9488;
  --color-dental-700: #0f766e;
  --color-dental-800: #115e59;
  --color-dental-900: #134e4a;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}
